<% include header.ejs %>
<ul>
<li><h3><a href="https://love.alipay.com/donate/donateSingle.htm?name=201304201216494301">支付宝公益网</a></h3>天佑四川，为雅安地震捐款</li>
<li><h3><a href="http://www.onefoundation.cn/html/cn/beneficence.html">壹基金</a></h3>壹基金雅安地震救援，刻不容缓！</li>
<li><h3><a href="http://cnodejs.org/">node社区</a></h3>学习nodejs，就来这里吧！</li>
<li><h3><a href="http://www.xjtu.edu.cn/">西安交通大学</a></h3>在这个学校，你能碰见各种神奇的人，不要犹豫了！！！</li>
</ul>
<% include footer.ejs %>