<%include header.ejs%>
<form method="post" align="center">
	<h3>用户登录<h3>
    <div>
		<div>
			<label for="name">用户名</label>
			<input type="text" name="name" id="name"/>
		</div>
		<div>
			<label for="password">密码</label>
			<input type="password" name="password" id="password"/>
		</div>
		<button type="submit" >登录</button>
    </div>
</form>
<%include footer.ejs%>